<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>helloWorld</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloWorld</servlet-name>
        <url-pattern>/helloWorldServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>personalHello</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.PersonalHelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>personalHello</servlet-name>
        <url-pattern>/personalHelloServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.OrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>random</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.RandomFactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>random</servlet-name>
        <url-pattern>/randomServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>time</servlet-name>
        <servlet-class>com.mycompany.icp_2151_lab_4.SetTimeZoneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>time</servlet-name>
        <url-pattern>/timeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
